/*= GENERAL STYLES
--------------------------------------------------------*/
body {
    background: #efefef;
	font-family: "Open Sans", sans-serif;
    font-size:1em "Open Sans", sans-serif;
    color: #777;
}

body,
input{
	font-size:1em "Open Sans", sans-serif;
	color:#363639;
}
 
a {
    color: #ff0066;
    font-weight: 400;
}
 
span {
    font-weight: 300;
    color: #ff0066;
}
 
.mlogin {
    margin: 170px auto 0;
}
 
.mregister {
    margin: 80px auto 0;
}
 
.error {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 650px;
    background: #ff0066;
}
 
.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}
 
/*= CONTAINERS
--------------------------------------------------------*/
 
#welcome {
    width: auto;
    padding: 30px;
    background: #fff;
    margin: 20px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
 
.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}
 
.container label {
    color: #777;
    font-size: 14px;
}
 
#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}
 
.container form .input,.container input[type=text],.container input[type=password],.container input[type=email] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}
 
.container form .input:focus {
    border: 1px solid #ff0066;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}
 
/*= BUTTONS
--------------------------------------------------------*/
 
.button{
border: solid 1px #ff80b3;
background: #ff80b3;
background: -webkit-gradient(linear, left top, left bottom, from(#ff80b3), to(#cc0052));
background: -moz-linear-gradient(top,  #ff80b3,  #cc0052);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80b3', endColorstr='#cc0052');
color: #fff;
padding: 7px 12px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
float: right;
cursor: pointer;
}
 
.button:hover{
background: #ff4d94;
background: -webkit-gradient(linear, left top, left bottom, from(#ff4d94), to(#cc0052));
background: -moz-linear-gradient(top,  #ff4d94,  #cc0052);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d94', endColorstr='#cc0052');
}
 
/*= FOOTER
--------------------------------------------------------*/
footer {
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

/*Mis Estilos
---------------------------------------------------*/
#titulo{
    color: #ff0066 ;
    text-align: center;
    font-size: 4em;
	font-family:"Shadows Into Light Two", cursive, bold;

}

#todo{
    color: #ff0066 ;
    text-align: center;
    font-size: 4em;
	font-family:"Shadows Into Light Two", cursive, bold;

}

.listas {
	display: inline-block;
    width: auto;
    padding: 30px;
    background: #fff;
    margin: 20px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

/*Items*/
.items{
	margin:0;
	padding:0;
	list-style-type:none;
}

.items li:hover .done-button{
	opacity:1;
}
.items .item.completado{
	text-decoration:line-through;
}
.items li,
.item-add .input{
	border:0;
	border-bottom:1px dashed #ccc;
	padding:15px 0;
}
.input{
	width:100%;
}
.input:focus{
		outline:none;
}

/*Done buttons*/
.done-button{
	display:inline-block;
	font-size:0.8em;
	background-color:#d9dfe1;
	color:#363639;
	padding:3px 6px;
	border:0;
	opacity:0.4;
}

a{
	text-decoration:none;	
}

/*List*/
.list{
	background-color:#fff;
	margin:20px auto;
	width:100%;
	max-width:500px;
	padding:20px;
	border-radius:2px;
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	box-sizing:border-box;
	
}


